{% extends "core/base.html" %}
{% load static %}

{% block title %}Scheduler{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'scheduler/css/scheduler-styles.css' %}">

    {% if react_manifest.files.main_css %}
    <link rel="stylesheet" href="{{ react_manifest.files.main_css }}">
    {% endif %}

{% endblock %}

{% block content %}
    <h1>Scheduler Section</h1>
    {% block scheduler_content %}{% endblock %}
{% endblock %}

{% block extra_js %}
    {% if react_manifest.files.main_js %}
        <script src="/static/frontend/{{ react_manifest.files.main_js|lstrip:'static/' }}" defer></script>
    {% else %}
        <script>console.error("React main.js not found in manifest!")</script>
    {% endif %}

{% endblock %}
