{% extends "core/base.html" %}
{% load static %}

{% block title %}Scheduler{% endblock %}

{% block extra_css %}
    <!-- Static Scheduler Styles served by Nginx -->
    <link rel="stylesheet" href="/static/scheduler/css/scheduler-styles.css">

    <!-- React CSS, injected dynamically -->
    {% if css_file %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Calendar Scheduler</h1>
    {% block scheduler_content %}{% endblock %}
{% endblock %}

{% block extra_js %}
    <!-- React JS, injected dynamically -->
    {% if js_file %}
        <script defer="defer" src="{{ js_file }}"></script>
    {% else %}
        <script>console.error("React main.js not found in manifest!")</script> <!-- Fallback error handling -->
    {% endif %}
{% endblock %}
