{% extends "core/base.html" %}

{% block title %}
    Scheduler Home
{% endblock %}

{% block extra_css %}
    <!-- React CSS, dynamically injected -->
    {% if css_file %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% else %}
        <link rel="stylesheet" href="/static/frontend/css/main.css">  <!-- Fallback -->
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Calendar Scheduler</h1>
    {% block scheduler_content %}{% endblock %}
{% endblock %}

{% block extra_js %}
    <!-- React JS, dynamically injected -->
    {% if js_file %}
        <script defer src="{{ js_file }}"></script>
    {% else %}
        <script>console.error("React main.js not found in manifest!")</script> <!-- Error handling -->
    {% endif %}
{% endblock %}