{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Core Base Template{% endblock %}</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'core/images/favicon.ico' %}">

    <!-- Load dynamic React CSS -->
    {% if css_file %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% endif %}
</head>
<body>
    <header>
        <h1>Core Django Application</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'scheduler_home' %}">Scheduler App</a>

                <form action="{% url 'scheduler_logout' %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to log out?')" class="nav-btn">Logout</button>
                </form>
                
            {% else %} 
                <a href="{% url 'scheduler_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Base Template</p>
    </footer>

    <script src="{% static 'core/js/scripts.js' %}"></script>
    
    <!-- Load React JavaScript only if `js_file` exists -->
    {% if js_file %}
        <script defer="defer" src="{{ js_file }}"></script>
    {% endif %}
</body>
</html>